*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#portfolio{
    width: 100%;
    padding-top: 20px;
    height: auto;
    background: #000;
    color: greenyellow;
}
.hh{ margin-top: 70px;}
h1{
    color:greenyellow;
    /* text-shadow: 1px 1px 4px orangered; */
    font-size: 40px;
    text-align: center;
    font-style: italic;
  
   
}

.pmain{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    /* background:plum; */
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}